nav {
  @extend .flex;
  background-color: $secondary-bg-color;
  padding: 1em 0.8em;
  font-size: min(3.7vmin, 0.9rem);

  .menu-list {
    color: $secondary-color;
    justify-content: space-around;
    font-size: min(5vmin, 1.5rem);
    width: min(700px, 100%);

    a:hover,
    .active {
      color: $primary-color;
    }
  }
}
